<!DOCTYPE html>
<html lang="en">
<head>
  <title>DreamQuest VR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

  <div class="container-fluid" style="font-family:'Monaco', 'Courier New', monospace;">
    <div class="row">
      <div class="col-sm-6" style="background-color:#fef0ec;">
        <img src="../static/fullLogo.png" alt="logo" width=540 height=180 style="margin-top:300px;margin-bottom:300px;margin-left:80px">
      </div>
      <div class="col-sm-6" style="background-color:#ff8197;">
        <nav class="navbar navbar-expand-sm" style="">

          <div class="container-fluid">
            <!-- Links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" style="color:#384a73;padding-right:20px" href="./">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color:#384a73;padding-right:20px" href="./about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color:#384a73;padding-right:20px" href="./products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color:#384a73;" href="./contact">Contact</a>
              </li>
            </ul>
          </div>

        </nav>
        <div style="padding:130px; padding-top:180px">
          <h2 style="margin-bottom:20px">Welcome</h2>
          <p>Welcome to DreamQuest VR – where dreams come alive in the realm of virtual reality. Dive into hyper-realistic dreamscapes, explore personalized experiences, and discover innovative products designed to enhance your journey through the extraordinary. Embrace the power of lucid dreaming with us, where every visit to our virtual space is a step towards a more vivid and meaningful dream exploration. Your dreams, redefined. Explore today.</p>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="container-fluid text-center" style="color:#384a73;background-color:#ffe3e2;padding-top:100px;padding-bottom:100px;font-family:'Monaco', 'Courier New', monospace;">

    <h1 style="padding-bottom:40px">D r e a m Q u e s t &#160 V R</h1>
    <p>E x p l o r e &#160 N e w &#160 R e a l m s</p>
  </div>
  <div style="padding-top:50px;background-color:#fef0ec"></div>
  <div style="margin-top:-50px;padding-bottom:10px;font-family:'Monaco', 'Courier New', monospace;text-align:center;color:#384a73;background-color:#fef0ec">
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-4">
          <img src="../static/board/ceofounder.png" alt="Portrait of Elijah Reverie" width=340 height=340>
          <h3 style="padding-top:10px">Elijah Reverie</h3>
          <h5>CEO and Founder</h5>
          <p>A visionary in the intersection of technology and dream exploration, Elijah Reverie founded DreamQuest VR to make lucid dreaming accessible to all. With a strong foundation in virtual reality development, Elijah drives the company's mission to create hyper-realistic dream experiences.</p>
        </div>
        <div class="col-sm-4">
          <img src="../static/board/chairman.png" alt="Portrait of Alice Dreamer" width=340 height=340>
          <h3 style="padding-top:10px">Alice Dreamer</h3>
          <h5>Chairman</h5>
          <p>With a background in psychology and a passion for exploring the depths of the mind, Alice Dreamer brings a wealth of experience to DreamQuest VR. As the Chairperson, she guides the company's vision, ensuring a harmonious blend of cutting-edge technology and the profound world of dreams.</p>
        </div>
        <div class="col-sm-4">
          <img src="../static/board/coo.png" alt="Portrait of Maxwell Dreamweaver" width=340 height=340>
          <h3 style="padding-top:10px">Maxwell Dreamweaver</h3>
          <h5>Chief Operations Officer</h5>
          <p>As the COO, Maxwell Dreamweaver brings a strategic mindset to DreamQuest VR. With a proven track record in operational excellence, he oversees the day-to-day activities, ensuring the seamless integration of technology, creativity, and user satisfaction.</p>
        </div>
      </div>
    </div>
  </div>
  -->

</body>
</html>
